.container {
  background-color: lightgray;
  margin-left: 3rem;
  margin-right: 3rem;
  min-height: 300px;
  display: flex;
  flex-direction: column;
}

.container h1 {
  margin-left: 6.5rem;
}

.search-container {
  background-color: white;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}

.search-container label,
.search-container input {
  margin-left: 1rem;
}

.search-container label {
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.search-container input {
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.bottom-box {
  width: 75%;
  display: flex;
  margin: 2rem auto 3rem auto;
}

.results {
  background-color: white;
  width: 50%;
  min-height: 1rem;
}

#results-text {
  margin: 1rem;
}

#results-list li {
  margin-bottom: .5rem;
}

.nominations {
  background-color: white;
  width: 50%;
  margin-left: 1rem;
}

.nominations-text {
  margin: 1rem;
}